@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

html, body {
	height: 100vh;
	width: 100vw;
	background: black url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
	background-size: cover;
}

main {
	height: 98vh;
	position: relative;
}

section#telefone {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 627px;
	width: 311px;
	background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
	position: relative;
	top: 80px;
	left: 22px;
	width: 264px;
	height: 470px;
}

section#redes-sociais {
	text-align: right;
}

section#redes-sociais img {
	width: 50px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.550);
	box-sizing: border-box;

}

section#redes-sociais img:hover {
	border: 2px solid rgba(255, 255, 255, 0.500);
	transform: translate(-5px, -2px);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
	transition: transform 0.1s;
}